#mainWrapper {
	/*height: 720px; Without explicit px values, % in children's does not work*/
	height: 99vh; /*with Viewport-Percentage, we can handles all devices screens  */
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
body, #mainWrapper {
	height: 100%;	
}	


.page-card {
    width: 50%;
    margin: auto;
    
}
page-container {
    margin-top: 100px;   
    background-color: floralwhite;
    width: 60%;    
    position: absolute;
    border-left-style: solid;
    border-left-color:  #5379fa !important;
    border-left-width: 10px;
        
}
h1 span, #mainWrapper {
	color: #5379fa !important;
	font-weight: 400;	
}
.title-app h1 {
    margin-top:35px;
    text-align: center;	
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	font-weight: 400;
	color: #8a8891;
	text-shadow: 0 8.36px 8.896px #c4b59d,0 -2px 1px #fff;
}

 .title-app h2 {	
	text-align: center;
	margin-top: 7px;
	font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    font-weight: 400; 
    color: #8a8891; 
}



.centered {
margin-left: 102px;
margin-top: 40px;

}

img{
display:block;
margin:auto;
margin-top: 30px;
}

p, #custom{
    margin-top: 68px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px; 
    font-weight: 400;
    font-style: italic;   
    color: #9A8E8E; 
 }
 
 .login-form {
    padding: 11%;
    margin-top: -25px;
    margin-bottom: -27px;
}